.dashboard {
    font-family: ubuntu;
    width: 400px;
    padding: 30px;
}

.dashboard h2 {
    margin-bottom: 15px;
}

input {
    margin-bottom: 10px;
    width: 100%;
}

.checkbox-ip {
    width: auto;
}